export(alpha.proxy, factor.model.stat, partial.rainbow, slideWeight, threeDarr,
	var.add.benchmark, var.relative.benchmark, var.shrink.eqcor)
importFrom(stats, fitted)
S3method(fitted, statfacmodBurSt)
